<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" [(ngModel)]="task.name" name="task.name"> 
  </mat-form-field>
  
  <mat-form-field class="example-f  ull-width">
    <input matInput placeholder="Value" [(ngModel)]="task.value" name="task.value"> 
  </mat-form-field>
</form>

<mat-checkbox>Check me!</mat-checkbox>

<button mat-raised-button color="primary" (click)="addLista()">Adicionar</button>

<ul>
  <li *ngFor="let item of tasks"  [myTask]="item.name">
    {{(item.value | formatCurrency) + ' - ' + item.value}}
  </li>
</ul>

<p myTask></p>